.footer {
    background: #6956af;
    height: 100px;
    position: relative;
    color: #fff;
    overflow: auto;
}

img{
    height:30px;
    width:40px;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5138a1;
    padding: 8px;
    font-weight: 600;
}